# ======================
# Python
# ======================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# ======================
# Node / React
# ======================
node_modules/
dist/
build/

# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# Model files (IMPORTANT)
# ======================
*.h5
*.tflite
*.pt
*.pth

# ======================
# Logs & temp
# ======================
*.log
tmp/
temp/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE files
# ======================
.vscode/
.idea/